.container{
    background-color: #eef8fa;
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.scoreContainer{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
}
.scoreContainer>button{
    padding: 5px 20px;
    background-color: #90e0ef;
    border: none;
}
.scoreContainer>button:hover{
    cursor: pointer;
}